div.container{
    margin-top: 10%;
    border: 1px solid black;
}
#Command{
margin-top:10%;
}
div.fastButtons{
    margin-top: 1%;
}

div.serverInformation{
    margin-top: 10%;
    margin-bottom: 10%;
}